In [1]:
def scale_dataframe(df,Scaler,cols,func):
    scaler = Scaler.fit(df[cols])
    df = pd.concat([df,pd.DataFrame(scaler.transform(df[cols]),columns=cols+'_'+func+'_scaled')],axis=1)
    return df,scaler

In [3]:
import pandas as pd

data = [['name1',36,125000],['name2',28,75000],['name3',32,100000]]
df = pd.DataFrame(data, columns = ['Name','Age','Salary'])

#transform the given distribution to a distribution with mean 0 and standard deviation as 1
#tranform the given data between the range of 0 and 1 based on the min and max values of given input range
#tranform the given data between the range of -1 and 1 by dividing the value with maximum value


from sklearn.preprocessing import StandardScaler,MinMaxScaler,MaxAbsScaler,Normalizer

cols = df.select_dtypes(include=['float64','int64','int']).columns
df,scaler = scale_dataframe(df,MinMaxScaler(),cols,'minmax')
df,scaler = scale_dataframe(df,Normalizer(),cols,'normalize')
df,scaler = scale_dataframe(df,MaxAbsScaler(),cols,'maxabs')
df,scaler = scale_dataframe(df,StandardScaler(),cols,'standard')
df.head()

,Name,Age,Salary,Age_minmax_scaled,Salary_minmax_scaled,Age_normalize_scaled,Salary_normalize_scaled,Age_maxabs_scaled,Salary_maxabs_scaled,Age_standard_scaled,Salary_standard_scaled
0,name1,36,125000,1.0,1.0,0.000288,1.0,1.000000,1.0,1.224745,1.224745
1,name2,28,75000,0.0,0.0,0.000373,1.0,0.777778,0.6,-1.224745,-1.224745
2,name3,32,100000,0.5,0.5,0.000320,1.0,0.888889,0.8,0.000000,0.000000

In [4]:
print(scaler.inverse_transform(df[cols+'_standard_scaled']))

[[3.60e+01 1.25e+05]
 [2.80e+01 7.50e+04]
 [3.20e+01 1.00e+05]]